<link href="~/Content/headerstyle.css" rel="stylesheet" />

@Html.Partial("~/Views/Home/_logo.cshtml")
<b style="font-family:Arial; letter-spacing:2px; text-transform:uppercase">about us</b>

<div class="row">
    <div class="col-md-12 boxa">

        <div class="conta">

            <div class="atransparency">
               
            </div>

            <div class="acontent" style="">
                <h3>PosseCadre Solutions pty(ltd)</h3>
                <ul>
                    <li>We are a scrum-driven team of wonderful system development enthusiasts. We provide software development services in both mobile and desktop platforms.</li>
                    <li>Our services range from the development of a basic static personal website to multi layered business process automation</li>
                    <li>We are based in Cape Town South Africa. Howsoever, our services are available beyond the boundaries of Western Cape. </li>
                    <li>Innovation is at the crux of our mindset, perpetually applied when we prepare your solution</li>
                    <li>We say no to micro-management, and we strive to build servant leaders</li>
                    <li>An absolutely awesome place to work at. We have casual life style, but serious about business</li>
                    <li>Oh yes, we love coffee. Pop in for a cup some day</li>
                </ul>
            </div>

        </div>
    </div>
</div>