<img src="~/Resources/logoR.png" />
<p style="font-family:Batang; letter-spacing:5px; text-transform:uppercase; font-weight:bold; margin-top:10px; color:rgba(0,0,58,255)">contact us</p>


<div class="row">
    <div class="col-md-12 boxa">

        <div class="conta">

            <div class="atransparency">

            </div>

            <div class="acontent">
                <div class="row" style="height:90%">
                    <div class="col-sm-4">
                        <h3>Give us a call</h3>
                        <h2><span style="color:darkgray">Mobile. </span> +27 (0)71 937 8823</h2>
                    </div>
                    <div class="col-sm-5">
                        <h3 >Pop a mail</h3>
                        <h4><spans style="color:darkgray">Support. </spans><span> papa.bengu@gmail.com</span></h4>
                        <h4 ><span style="color:darkgray">Management. </span>  <span> papa.bengu@touchlab.co.za</span></h4>
                        <h4 ><span style="color:darkgray">Social. </span>  <span> mathprof.bengu@gmail.com</span></h4>
                    </div>
                    <div class="col-sm-3">
                        <h3>Come for a chat</h3>
                        <h4 style="color:darkgray">Cape Town, Head quaters</h4>
                        <h4>5 Querida complex</h4>
                        <h4>5 Hope road</h4>
                        <h4>Rosebank, 8001</h4>
                        <br/>
                        <h4 style="color:darkgray">Bothaville office</h4>
                        <h4>10206 Ditshehlong</h4>
                        <h4>Kgotsong</h4>
                        <h4>Bothaville, 9660</h4>
                    </div>
                </div>
                <div class="row" style="height:10%; padding-right:25px">
                    <div class="right" style="float:right">
                        <ul id="socialList">

                            <li><span class="fa fa-twitter-square"></span></li>
                            <li><span class="fa fa-facebook-official"></span></li>
                            <li><span class="fa fa-google-plus-square"></span></li>
                            <li><span class="fa fa-linkedin-square"></span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>