<link href="~/Content/headerstyle.css" rel="stylesheet" />

@Html.Partial("~/Views/Home/_logo.cshtml")
<b style="font-family:Arial; letter-spacing:2px; text-transform:uppercase">our services</b>
<div class="row" style="padding-bottom:5px">
    <div class="col-md-6 box" id="1">

        <div class="cont">
            <div class="atransparency"></div>

            <div class="acontent" >
                
                    <h3>Business processes automation</h3>
                    <p></p>
               
            </div>
  
        </div>

    </div>

    <div class="col-md-3 box" id="2">

        <div class="cont">
            <div class="atransparency"></div>

            <div class="acontent">
                <h3>Web applications</h3>
                <p>
                    
                </p>
            </div>
        </div>


    </div>
    <div class="col-md-3 box" id="3">
        <div class="cont">
            <div class="atransparency"></div>

            <div class="acontent">
                <h3>Informational websites</h3>
                <p>
                   
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top:5px">
    <div class=" col-md-3 box" id="4">

        <div class="cont">
            <div class="atransparency"></div>

            <div class="acontent">
                <h3>Mobile applications</h3>
                <p>
                   
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 box" id="5">

        <div class="cont">
            <div class="atransparency"></div>

            <div class="acontent">
                <h3>Information systems consulting</h3>
                <p>
                   
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 box" id="6">

        <div class="cont">
            <div class="atransparency"></div>

            <div class="acontent">
                <h3>Ad-hoc applications</h3>
                <p>
                   
                </p>
            </div>
        </div>

    </div>
</div>