<div id="servicesId" class="serviceMainContainer">
    <div class="row">
        <div class="colxs-12" id="secHead">
            <p>services we offer</p>
        </div>
    </div>
    <div class="row">
        <div class="servicesFeatureBox col-xs-4 topLeft fadeInLeft animated" >
            <div class="FeatureBox">
                <div class="FeatureBoxHeader" style="">
                    <p>Business process automation</p>
                </div>
                <div class="FeatureBoxBody" >
                    <div class="FeatureBoxHeaderIcon">
                        <p>BP</p>
                    </div>
                    <div>
                        <div style="" class="cText">
                            <p style="text-align:center"><b>Included services</b></p>
                            <p> > Process automation</p>
                            <p> > Tailored application</p>
                            <p> > ERP Modules</p>
                            <p> > Accounting Systems integration</p>
                        </div>
                        <div id="fbBody1" class="dText">

                        </div>
                    </div>
                </div>
                <div class="FeatureBoxFooter">
                    <div class="quoteFooter" style="">
                        <p>Get Quote</p>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="servicesFeatureBox col-xs-4 upBox fadeInUp animated" style=" ">
            <div class="FeatureBox">
                <div class="FeatureBoxHeader" >
                    <p>Web applications</p>
                </div>
                <div class="FeatureBoxBody">
                    <div class="FeatureBoxHeaderIcon">
                        <p>Web</p>
                    </div>
                    <div>
                        <div style="" class="cText">
                            <p style="text-align:center"><b>Included services</b></p>
                            <p> > Blogs</p>
                            <p> > Discussion forums</p>
                            <p> > Social media</p>
                            <p> > eCommerce apps</p>
                        </div>
                        <div id="fbBody2" class="dText">

                        </div>
                    </div>
                </div>
                <div class="FeatureBoxFooter">
                    <div class="quoteFooter" style="">
                        <p>Get Quote</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="servicesFeatureBox col-xs-4 topRight fadeInRight animated" style=" ">
            <div class="FeatureBox">
                <div class="FeatureBoxHeader" >
                    <p>Informational Websites</p>
                </div>
                <div class="FeatureBoxBody" >
                    <div class="FeatureBoxHeaderIcon">
                        <p>Sites</p>
                    </div>
                    <div>
                        <div style="" class="cText">
                            <p style="text-align:center"><b>Included services</b></p>
                            <p> > Online presence</p>
                            <p> > CMS driven website</p>
                            <p> > Website design</p>
                            <p> > Mobile responsive design</p>
                        </div>
                        <div id="fbBody3" class="dText">

                        </div>
                    </div>
                </div>
                <div class="FeatureBoxFooter">
                    <div class="quoteFooter" style="">
                        <p>Get Quote</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="servicesFeatureBox col-xs-4 upBox fadeInUp animated" style=" ">
            <div class="FeatureBox">
                <div class="FeatureBoxHeader" >
                    <p>Information Systems Consulting</p>
                </div>
                <div class="FeatureBoxBody">
                    <div class="FeatureBoxHeaderIcon">
                        <p>IS</p>
                    </div>
                    <div>
                        <div style="" class="cText">
                            <p style="text-align:center"><b>Included services</b></p>
                            <p> > Software Quality Assurance</p>
                            <p> > Automated Test Scripts</p>
                            <p> > System Analysis consulting</p>
                            <p> > Development outsourcing</p>
                        </div>
                        <div id="fbBody4" class="dText">

                        </div>
                    </div>
                </div>
                <div class="FeatureBoxFooter" >
                    <div class="quoteFooter" style="">
                        <p>Get Quote</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="servicesFeatureBox col-xs-4 upBox fadeInUp animated" style=" ">
            <div class="FeatureBox">
                <div class="FeatureBoxHeader" >
                    <p>Mobile applications</p>
                </div>
                <div class="FeatureBoxBody">
                    <div class="FeatureBoxHeaderIcon">
                        <p>Apps</p>
                    </div>
                    <div>
                        <div style="" class="cText">
                            <p style="text-align:center"><b>Included services</b></p>
                            <p> > Web responsive design</p>
                            <p> > Android native app development</p>
                            <p> > iOS Xamarin development</p>
                            <p> > Android Xamarin development</p>
                        </div>
                        <div id="fbBody5" class="dText">

                        </div>
                    </div>
                </div>
                <div class="FeatureBoxFooter">
                    <div class="quoteFooter" style="">
                        <p>Get Quote</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="servicesFeatureBox col-xs-4 upBox fadeInUp animated" style=" ">
            <div class="FeatureBox">
                <div class="FeatureBoxHeader" >
                    <p>Ad-hoc development</p>
                </div>
                <div class="FeatureBoxBody" >
                    <div class="FeatureBoxHeaderIcon">
                        <p>Dev</p>
                    </div>
                    <div>
                        <div style="" class="cText">
                            <p style="text-align:center"><b>Included services</b></p>
                            <p> > System refactoring</p>
                            <p> > Software maintenance</p>
                            <p> > Tailored applications</p>
                            <p> > Software add-on features</p>
                        </div>
                        <div id="fbBody6" class="dText">

                        </div>
                    </div>
                </div>
                <div class="FeatureBoxFooter">
                    <div class="quoteFooter" style="">
                        <p>Get Quote</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

